.navbar {
    display: grid;
    background-color: #C7522A;
    justify-content: space-between;
    padding-left: 41%;
    padding: 1%;
    position: sticky;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    list-style-type: none;
    text-decoration: none;
}
body {
   background-color: #FBF2C4; 
   color: #008585;
   padding: 50px;
}
head {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    color:#C7522A;
}
h2 {
    color: #C7522A;
    font-size: 24px;
    font-weight: 800;
}
#experience { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 50px 32px;
}
#experience p { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.img {
    width: 360px;
    height: 450px;
    display: grid;
    float: right;
    padding: 0 20px 20px 0;
}
#mySkills {
    list-style: square;
}
.formInputLabel {
    font-size: 15px;
    color:#C7522A;
    padding: 0.25em;
    border-style: none;
}
button {
    background-color: #008585;
    border-style: none;
    color: white;
    padding: 10px;
    font-family: lucida;
}
[type=text] {
    color: #008585;
}
#messages ul {
    color:#008585;
    border-style: solid;
}
footer {
    background-color: #E5C185;
    padding: 20px;
}
#Message {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content;
}
a {
    display: grid;
    color: #E5C185;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
}
/*design for smartphones*/
@media screen and (width: minmax( 320px, 480px)){
    .navbar li {
        display: grid;
        background-color: #C7522A;
        justify-content: space-between;
        padding: relative;
        padding-left: 20%;
        position: sticky;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .img {
        width: minmax(720, 820);
    }
}
/*design for tablets*/
@media screen and (width: minmax( 480px, 768px)){
    .navbar li {
        display: grid;
        background-color: #C7522A;
        justify-content: space-between;
        padding: relative;
        padding-left: 20%;
        position: sticky;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}
/*design for desktop*/
@media screen and (width: minmax( 768px, 1200px)){
    .navbar li {
        display: grid;
        background-color: #C7522A;
        justify-content: space-between;
        padding-left: 20%;
        padding: 20px;
        position: sticky;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
}